




<div class="customHistoryPopoverView">
    <table id="customHistoryPopoverViewTable" class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Presenting Complaint</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    asdfg
                </td>
                <td>asdfghjik</td>
            </tr>
        </tbody>

    </table>

    <div data-ng-include="popSelectedHeader.path" class="secondaryTab">

    </div>
</div>